python-dotenv
langchain-groq
langchain-core
langchain
langgraph
streamlit
streamlit-webrtc
av
opencv-python-headless
SpeechRecognition
pydub
groq
imageio-ffmpeg
elevenlabs
tornado
gTTS
